/* LandingPage.css */

.landing-page {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow-y: scroll; /* Enable scrolling */
  }
  
  .hero {
    background-image: url("../images/hero-section-1.gif"); /* Replace with your hero image path */
    background-size: cover;
    background-position: center;
    min-height: 70vh;
    color: #fff;
    padding: 100px 0;
  }
  
  .hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  .hero p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 30px;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    padding: 10px 20px;
  }
  
  .featured-products,
  .testimonials,
  .blog-highlights,
  .contact-us {
    padding: 80px 0;
  }
  
  .featured-products h2,
  .testimonials h2,
  .blog-highlights h2,
  .contact-us h2 {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .footer {
    padding: 20px 0;
    text-align: center;
    background-color: #f5f5f5;
  }
  
  .list-properties {
    padding: 50px 0;
  }
  
  .property-preview {
    position: sticky;
    top: 20px;
  }
  
  .preview-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  .card {
    background-color: rgba(255, 255, 255, 0.3); /* Transparent background color */
    border: 1px solid rgba(255, 255, 255, 0.5); /* Transparent border */
    color: white; /* Text color */
  }
  
  .card-title,
  .card-text {
    color: white; /* Text color */
  }

#lpcard-title,
#lpcard-text {
  color:black !important
}

#lpcard{
  border:1px solid black !important
}